<main>
  <div class="head-title border-b-[1.5px] pb-8 border-[rgba(0,0,0,0.2)]">
    <div class="left">
      <h1>Dashboard</h1>
      <ul class="breadcrumb">
        <li>
          <a href="#">Dashboard</a>
        </li>
        <li>/</li>
        <li>
          <a>Clients</a>
        </li>
        <li>/</li>
        <li>
          <a class="active">{{user.name}} details</a>
        </li>
      </ul>
    </div>
    <a routerLink="/admin/users" class="btn-download">
      <i class='bx bxs-cloud-download fa-solid fa-list '></i>
      <span class="text">List user</span>
    </a>
  </div>

  <div>
    <ul class="w-full  mt-10 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg 0">
      <li class="w-full px-4 py-2 border-b border-gray-200 rounded-t-lg ">
        first Name<i class="fa-solid fa-greater-than ml-10 mr-10"></i> {{ user.firstName }}
      </li>
      <li class="w-full px-4 py-4 border-b border-gray-200 ">
        last Name<i class="fa-solid fa-greater-than ml-10 mr-10"></i> {{ user.lastName }}
      </li>
      <li class="w-full px-4 py-4 border-b border-gray-200 ">
        email<i class="fa-solid fa-greater-than ml-10 mr-10"></i> {{ user.email }}
      </li>
      <li class="w-full px-4 py-4 border-b border-gray-200 ">
        password <i class="fa-solid fa-greater-than ml-10 mr-10"></i> {{ user.passwordHash }}
      </li>
      <li class="w-full px-4 py-4 border-b border-gray-200 ">
        bio<i class="fa-solid fa-greater-than ml-10 mr-10"></i> {{ !user.bio ? "nat availble":user.bio }}
      </li>
      <li class="w-full px-4 py-4 border-b border-gray-200 ">
        country<i class="fa-solid fa-greater-than ml-10 mr-10"></i> {{ !user.country ? "not availble":user.country }}
      </li>
      <li class="w-full px-4 py-4 border-b border-gray-200 ">
        user Type<i class="fa-solid fa-greater-than ml-10 mr-10"></i> {{ user.userType }}
      </li>

      
    </ul>
  </div>




</main>