<main>
    <div class="head-title">
        <div class="left">
            <h1>Dashboard</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>/</li>
                <li>
                    <a class="active" href="#">Home</a>
                </li>
            </ul>
        </div>
    </div>

    <ul class="box-info">
        <li>
            <i class="bx bxs-dollar-circle fa-solid fa-user-doctor"></i>
            <span class="text">
                <h3>{{ addmision }}</h3>
                <p>Addmission Users</p>
            </span>
        </li>
        <li>
            <i class="bx bxs-dollar-circle fa-solid fa-user-nurse"></i>
            <span class="text">
                <h3>{{ BloodBank }}</h3>
                <p>Blood Bank Users</p>
            </span>
        </li>
        <li>
            
            <i class="bx bxs-dollar-circle fa-solid fa-user-gear"></i>
            <span class="text">
                <h3>{{ suppliers }}</h3>
                <p>Supplier Users</p>
            </span>
        </li>
    </ul>
 
</main>
