<main class="container">
    <div class="head-title flex justify-between items-center mt-5 border-b-[1.5px] pb-8 border-[rgba(0,0,0,0.2)]">
        <div class="left">
            <h1>Dashboard</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>/</li>
                <li>
                    <a class="active">Blood Stock</a>
                </li>
            </ul>
        </div>
        <a routerLink="/requests-list" class="btn-download">
            <i class='bx bxs-cloud-download fa-solid fa-plus '></i>
            <span class="text">Request List</span>
        </a>
    </div>
    <div class="min-h-[70vh]">

    </div>
</main>
